
/* global */


.bg-info {
  background-color: #516886 !important;
}

.header-text {
    color:white;
}

.my-font{
  font-family: 'Abril Fatface', cursive;
            font-weight: 400;
            font-size: 40px;
}

.title {
  color: #F8CA23;
}

/* home */

.my-carousel {

  padding: 50px;

}

.about {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.thumbnail {
  padding: 10px;
}

ul {
  list-style-type: none;
  
}

.title-colour {
  color: #152E4B;
}



/* find */


.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .map {
  
    padding: 10px;
  }

  .map-list {
    margin: 50px;
  }
  
  .map-title {
    margin-left: 80px;
    margin-top: 10px;
  }


  /* menu */

  .day-menu {
    justify-content: center;
    align-items: center;
    padding: 20px;
 

  }
  

  /* form */

  .about-form {
    text-align: center;
    padding-top: 50px;
  }

  .my-form-text {
   margin-left:  100px;
    margin-right: 100px;

  }

  .my-form {
    padding-left:  100px;
    padding-right: 100px;
  }

  .my-form-top {
    padding-left:  100px;
    padding-right: 100px;
    padding-top: 50px;
  }

  .card-body {
   
    
  }

  .btn-primary {
    padding-left:  20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }





  