
/* global */

body {

}

.bg-info {
  background-color: #6BA6C3 !important;
  opacity: 0.5;
}

.header-text {
    color:white;
}

/* home */

.my-carousel {

  padding: 50px;

}

.about {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.about-header {
  color: #F8CA23;
}




/* find */


.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-2 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  .map {
  
    padding: 10px;
  }


  /* menu */


  /* form */

  .about-form {
    text-align: center;
    padding-top: 50px;
  }

  .my-form {
    padding-left:  100px;
    padding-right: 100px;
  }

  .my-form-top {
    padding-left:  100px;
    padding-right: 100px;
    padding-top: 50px;
  }

  .card-body {
   
    
  }

  .btn-primary {
    padding-left:  20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }





  